@font-face {
  font-family: 'Marvel';
  src: url( './fonts/MarvelRegular-Dj83.ttf');
}

*{
  font-family: 'Marvel';
}

body {
  margin: 0;

  height: 100vh;
  
  background: linear-gradient(to right, rgb(20, 20, 20), rgb(40, 40, 40));
}
